*
header{
    position: relative;
    background: linear-gradient(.25turn, #5B483A, #211f20);
    width: 1200px;
    height: 180px;
    padding: 0px 40px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
body 
{   
    position: relative;
    margin: 0;
    background: #F1CDB3;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: auto
}
.startscreen {
    position: relative;
    padding: 0px 40px;
    background: linear-gradient(.25turn, #5B483A, #211f20);
    height: 728px;
}
.about {
    padding: 0px 40px;
    background-color: #ffffff;
    height: 588px;
}
.pets {
    padding: 0px 40px;
    background-color: #f6f6f6;
    height: 877px;
}
.help {
    padding: 0px 40px;
    background-color: #ffffff;
    height: 611px;
}
.donation {
    padding: 0px 40px;
    background-color: #f6f6f6;
    height: 462px;
}
.logo {
    position:relative;
    align-self: center;
    background-color: #F1CDB3;
    width:10vw;
}
.menu {
    position:relative;
    align-self: center;
    justify-content: flex-end;
    background-color: #7e3761;
}
footer{
    background: linear-gradient(.25turn, #5B483A, #211f20);
    height: 350px;
    width: 1200px;
    padding: 0px 40px;
    margin:auto
}