*
html {
    font-size: 10px;
}
header{
    position: relative;
    background: linear-gradient(.25turn, #5B483A, #211f20);
    width: 1200px;
    height: 180px;
    padding: 0px 40px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
body 
{   
    position: relative;
    margin: 0;
    background: #F1CDB3;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: auto
}
.startscreen {
    position: relative;
    padding: 0px 40px;
    background: linear-gradient(.25turn, #5B483A, #211f20);
    height: 728px;
    display: flex;
}
.logo {
    display: flex;
    flex-direction: column; 
    align-self: center;
    align-items:center;
}
.menu {
    position:relative;
    align-self: center;
    display: flex;
    width: 28em;
    justify-content: space-between;
}
.menu-item {
    position: relative;
}
.containerStartscreen {
    flex: 1;
    display: flex;
    align-items: center;
}
.containerStartText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2.5em;
    position: relative;
    bottom: 2.3em;
}
.StartTextHeading {
    position: relative;
    margin-right: 5em;
}
.StartText {
    position: relative;
}
.friendButtonBackground {
    display:flex;
    width: 11em;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: #F1CDB3;
    color: #545454;
    border-radius: 1.5em;
    padding: 1em;
    margin: 2em 0em;
}
.about {
    padding: 0px 40px;
    background-color: #ffffff;
    height: 588px;
    display: flex;
}
.containerAboutImage {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-self: center;
    align-items:center;
    margin-left: 12em;
    position: relative;
    top: -0.7rem;
    left: -4.3rem;
}
.containerAboutText {
    flex:1;
    display: flex;
    flex-direction: column; 
    align-self: center;
    margin-right: 12em;
    position: relative;
    margin-top: -1.1em;
}
.textAboutHeading {
    position: relative;
}
.textAbout1 {
    position: relative;
}
.textAbout2 {
    position: relative;
}
.pets {
    padding: 0px 40px;
    background-color: #f6f6f6;
    height: 877px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.help {
    padding: 0px 40px;
    background-color: #ffffff;
    height: 611px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donation {
    padding: 0px 40px;
    background-color: #f6f6f6;
    height: 462px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.donationColumn1 {
    display: flex;
    position: relative;
    top: -0.5em
  
}
.donationColumn2 {
    display: flex;
    flex-direction: column;
    width: 22em;
    margin-right: 10.5em;
    margin-left: 2em;
}
.donationHeading {
    display: flex;
    width:18em
}
.donationElement {
    display: flex;
    margin: 1em 0em;
}
.cardLine {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: #F1CDB3;
    color: #545454;
    border-radius: 0.4em;
    padding: 0.5em
}
.cardImage {
    margin-right: 1em;
}
footer{
    background: linear-gradient(.25turn, #5B483A, #211f20);
    height: 350px;
    width: 1200px;
    padding: 0px 40px;
    margin:auto
}
.footer {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 350px;
    width: 1200px;
}
.contactsColumn {
    display: flex;
    flex-direction: column;
    margin-right: 2.5em;
    justify-items:left;
    margin-top: 3em;
   
}
.contactsItem {
    display: flex;
    flex-direction: row;
    width: 25em;   
}
.contactsHeading {
   width: 18em;
  
}
.contactsText {
    align-self: center;
}
.contactsIcon{
    align-self: center;
}
.contactsImage {
   align-self:flex-end;
    margin:0;
    position: relative;
    left: 1.3em;

}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.65em;
    letter-spacing: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-weight: 400;
}
h2 {
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 0.75em;
}
h3 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2.3em;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}
h4 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2.1em;
    font-weight: 400;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    color:#545454
}
h6 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #F1CDB3;
    margin: 1.6em;
}
p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5;
    color: #545454;
}
p1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #545454;
}
p2 {
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.5;
    color: #B2B2B2;
}
p4 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}
p5 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color:#292929
}

A {
    text-decoration: none;
}
A:link {
    color:#CDCDCD;
}
A:visited {
    color:#CDCDCD;
}
A:hover {
    color:#F1CDB3;
    text-decoration: underline;
}

/*
A[href^="mailto"]::before {
    content: ;
    padding-right: 1em;
    vertical-align: middle;
}
A[href^="phone"]::before
A[href^="adress"]::before


/*font-family: 'Domine', serif;*/